:root{
    --base:#93a8ac;
    --highlights:#d7ceb2;
    --darks:#4c5760;
}

html{
    background-color: var(--base);
    font-family:sans-serif;
    font-size:large;
}

#fun{
    padding:2rem;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}

/*styling the cards displayed*/
#table{
    width:70vw;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    padding:50px;
    margin:auto;
}

/*all cards are positioned in a line up*/
.card{
    height:400px;
    width:200px;
    border-radius:20px;
    margin:-50px;
}

/*.lined is attributed once the cards are shuffled, to create a responsive feel when the user makes their pick*/
.lined:hover{
    transform:translate(-15px, 20px);
}

/*before being shuffled the cards are presented in a stacked deck*/
.stacked{
    position:absolute;
}

.left{
    transform:rotate(5deg);
}

.right{
    transform:rotate(-5deg);
}

.card img{
    height:400px;
    width:250px;
    object-fit:fill;
    border-radius:20px;
}

/*styling the form that allows users to ask their question*/
form{
    position:absolute;
    top:70%;
    left:center;
    display:flex;
    flex-flow: column nowrap;
}

#ask{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    font-weight:bold;
    font-size:1.5rem;
}

.question{
    display:none;
}

label:hover{
    color:var(--highlights);
}

button{
    background:transparent;
    border:none;
    font-weight:bold;
    font-size:1.5rem;
}